.section1 {
    grid-template-rows: 0.5fr 3fr 1fr 0.5fr;
    margin: 2em 0;
}
.section1 form {
    grid-area: 2 / 2 / 1 span / 5 span;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1.5em;
    border-radius: 1em;
    gap: 1.25em;
    background: linear-gradient(90deg, var(--linear1));
}
.section1 form > div {
    display: flex;
    gap: 1.25em;
}
.section1 form > div input {
    width: calc((100% - 0em) / 2);
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    background: var(--white);
    color: var(--black);
}
.section1 form > div input::placeholder {
    font-weight: 800;
    color: var(--black);
    font-size: 1.25rem;
}
.section1 form textarea {
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    background: var(--white);
    color: var(--black);
}
.section1 form textarea::placeholder{
    color: var(--black);
    font-weight: 800;
    font-size: 1.5rem;
}
.section1 iframe {
    grid-area: 2 / 8 / 1 span / 4 span;
    width: 100%;
}
.section1 .info-wraper1 {
    grid-area: 3 / 2 / 1 span / 10 span;
    background: linear-gradient(-45deg, var(--linear1));
    color: var(--white);
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
    padding: 2em;
    align-items: center;
    font-size: 1.5em;
    border-radius: 1em;
}
.section1 .info-wraper1 span {
    display: flex;
    align-items: center;
    gap: 1.25em;
    backdrop-filter: brightness(0.6);
    padding: 0.5em;
    border-radius: 1em;
}
@media screen and (max-width: 430px) {
    .section1 {
        grid-template-rows: 0.5fr 2fr 2fr 1fr 0.5fr;
    }
    .section1 iframe {
        grid-area: 2 / 2 / 1 span / 10 span;
    }
    .section1 form {
        grid-area: 3 / 2 / 1 span / 10 span;
    }
    .section1 form > div input {
        width: 100%;
    }
    .section1 form > div {
        flex-flow: column;
    }
    .section1 .info-wraper1 {
        grid-area: 4 / 2 / 1 span / 10 span;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 1.5em;
    }
    .section1 .info-wraper1 span {
        justify-content: space-between;
    }
}